body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1200px;
}
.header {
  position: fixed;
  width: 100vw;
  background-color: #000000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  margin-left: 50px;
}

header img {
  width: 86px;
}

a:hover {
  color: rgb(255, 255, 255);
}

.main-section {
  background: url("../images/1618508133_43-funart_pro-p-oboi-fon-strashnii-fon-44.jpg");
  height: 100vh;
  background-attachment: fixed;
}
body {
  background-color: red;
}
